# Core dependencies
numpy>=1.26.0
pandas>=2.2.0
scipy>=1.13.0
matplotlib>=3.9.0
pathlib
tqdm>=4.66.0

# Image processing
opencv-python-headless>=4.10.0.84
scikit-image>=0.24.0
Pillow>=10.3.0
pywavelets>=1.6.0  # for pywt

# Machine learning / Deep learning
scikit-learn>=1.5.0
tensorflow>=2.16.0
joblib>=1.4.2

# Web framework
streamlit>=1.37.0
